[hyoo_thanks_app_welcome_body] {
	padding: var(--mol_gap_block);
}

[hyoo_thanks_app_story_body] {
	padding: var(--mol_gap_block);
}

[hyoo_thanks_app_target_body] {
	padding: var(--mol_gap_block);
}

[hyoo_thanks_app_awaiting_body] > * {
	padding: var(--mol_gap_block);
}

[hyoo_thanks_app_person_body] > * {
	padding: var(--mol_gap_block);
}

[hyoo_thanks_app_person] {
	flex-basis: 18rem;
	flex-shrink: 0;
}

[hyoo_thanks_app_person_link_block_label],
[hyoo_thanks_app_person_wallet_block_label] {
	padding-top: 0;
	padding-bottom: 0;
	align-items: center;
}
